body{

	background:#f9fbfe;
	font: 100%/1.5 "Lato", "Hiragino Maru Gothic Pro", "Meiryo UI", Meiryo, "MS PGothic", sans-serif ;
	-webkit-font-smoothing: antialiased;
}

h1{
	
	font-weight: bold;
	font-size: 1.8em;
	color: #2b546a;
}
h3{
	font-size: 0.9em;
	font-weight: normal;
	color:#5876a3;;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

li {
  float: left;
}

li a {
  display: block;
  color: #16325c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 0.8125rem;
  letter-spacing: 0.04375rem;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #30c8d6;
  }

.nav-bar{
	position:fixed;
	top:0px;
	left: 0px;
	width:100%;
}
.logo{
	background-color:  #2b546a; !important;
	float: left;
}
.logoimg{
	height: 40px;
}

.web-node{
	display: flex;
	margin:100px auto;
	background-color: white;
	width: 90%;
	height: 450px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	
}
.inner-div{
	margin:100px auto;
	background-color: white;
	width: 90%;
}
.node-img{
	height: 300px;
}

#div-right{
	width: 40%;
	float:left;
}

#div-left{
	width: 60%;
	float: left;
}